{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Page1</title>
{% endblock %}
{% block body %}
    <form method="POST">
<!--         <label for="num">Enter number of tuples: </label>-->
<!--        <input type="number" id="num" name="num">-->
        <label for="letter">Enter text: </label>
        <input type="text" id="letter" name="letter">
        <label for="amount">Enter amount: </label>
        <input type="text" id="amount" name="amount">
        <input type="submit" value="Submit" placeholder="Submit"><br>
    </form>

    {% if paira %}
    <div id="pieDiv" style="width: 90%; height: 500px;"></div>

    <script>
<!--        var data = [{-->
<!--        'values': {{pairb | tojson}},-->
<!--        'labels': {{paira | tojson}},-->
<!--        'type': 'pie'}]-->
<!--        var layout = {-->
<!--            'height': 400,-->
<!--            'width': 1000-->
<!--        }-->
<!--        -->
        var data = [{
          type: "pie",
          values: {{pairb | tojson}},
                labels: {{paira | tojson}},
          textinfo: "label+percent",
          textposition: "outside",
          automargin: true
        }]

    var layout = {
      height: 400,
      width: 400,
      margin: {"t": 0, "b": 0, "l": 0, "r": 0},
      showlegend: false
      }

        Plotly.newPlot('pieDiv', data, layout);
    </script>
    {% endif %}

{% endblock %}
