{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Page2</title>
{% endblock %}
{% block body %}
    <div id="bar1Div" style="width: 80%; height: 500px;"></div>
    <div id="barDiv" style="width: 80%; height: 500px;"></div>
    <div id="pieDiv" style="width: 80%; height: 500px;"></div>
    <div id="myDiv" style="width: 80%; height: 500px;"></div>
    <div id="scatterDiv" style="width: 80%; height: 500px;"></div>



    <script>
        var data = [{
          type: 'bar',
          x: {{ query_time | tojson}},
          y: {{ time_query | tojson }},
          orientation: 'h'
        }];

        Plotly.newPlot('bar1Div', data);


        var data = [
            {
            x: {{ time_query | tojson}},
            y: {{ query_time | tojson }},
            type: 'bar'
            }
        ];

        Plotly.newPlot('barDiv', data);

        data = [{
        'values': {{query_time | tojson}},
        'labels': {{time_query | tojson}},
        'type': 'pie'}]
        layout = {
            'height': 400,
            'width': 1000
        }
        var data = data;
        var layout = layout;

        Plotly.newPlot('pieDiv', data, layout);


        var trace1 = {
            x: {{ time_query | tojson}},
            y: {{ query_time | tojson }},
            type: 'scatter'
        };
        var data = [trace1];

        Plotly.newPlot('myDiv', data);


        var trace1 = {
          x: {{ time_query | tojson}},
          y: {{ query_time | tojson }},
          name: 'Gold',
          type: 'scatter',
          mode: 'markers'
        };
        var data1 = [trace1];

        Plotly.newPlot('scatterDiv', data1, layout);
    </script>
{% endblock %}
