{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Page3</title>
{% endblock %}

{% block body %}
    <form method="POST">
        <label for="letter">Enter x: </label>
        <input type="text" id="letter" name="letter">
        <label for="amount">Enter y: </label>
        <input type="text" id="amount" name="amount">
        <label for="z">Enter c: </label>
        <input type="text" id="z" name="z">
        <input type="submit" value="Submit" placeholder="Submit"><br>
    </form>

{% if paira %}
    <div id="myDiv" style="width: 90%; height: 500px;"></div>

    <script>
      var trace1 = {
  x: ['', '', ''],
  y: {{ paira | tojson}},
  name: 'x',
  type: 'scatter',
  mode: 'markers'
};

var trace2 = {
  x: ['', '', ''],
  y: {{ pairb | tojson}},
  name: 'y',
  type: 'scatter',
  mode: 'markers'
};

var trace3 = {
  x: ['', '', ''],
  y: {{ z | tojson}},
  name: 'c',
  type: 'scatter',
  mode: 'markers'
};

var data = [trace1, trace2, trace3];

var layout = {
  scattermode: 'group',
  title: 'Grouped by Country',
  xaxis: {title: ''},
  yaxis: {title: ''}
};

Plotly.newPlot('myDiv', data, layout);

    </script>
{% endif %}
{% endblock %}
