{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Page1</title>
{% endblock %}

{% block body %}
<!--    <div style="width: 85%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;">-->
<!--        <h2 style="text-align: center;color:rgb(99, 99, 99);">1000 random tuples</h2>-->
<!--    </div>-->

    <div id="barDiv" style="width: 80%; height: 500px;"></div>
    <script>
		var trace1 = {
          x: {{ time_query | tojson}},
          y: {{ query_time | tojson }},
          name: 'SF Zoo',
          type: 'bar'
        };
        var trace2 = {
          x: {{ time_query | tojson}},
          y: {{ redis_time | tojson }},
          name: 'LA Zoo',
          type: 'bar'
        };
        var data = [trace1, trace2];
        var layout = {barmode: 'group'};
        Plotly.newPlot('barDiv', data, layout);

	</script>

{% endblock %}